---
import Header from "../components/Header.astro"
import MainLayout from "../layouts/MainLayout.astro"

---
<MainLayout>
		<Header />
	  
		<!-- Sneaker Company
	  
		<h2 class="font-black text-6xl text-orangeCustom">Fall Limited Edition Sneakers	</h2>
	  
		These low-profile sneakers are your perfect casual wear companion. Featuring a 
		durable rubber outer sole, they'll withstand everything the weather can offer.
	  
		$125.00
		50%
		$250.00
	  
		0
		Add to cart -->
</MainLayout>
