---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import MainLayout from "../layouts/MainLayout.astro"

---
<MainLayout>
	<div class="max-w-[1112px] h-full flex flex-col">
		<Header />
	  	<Hero />
	</div>
</MainLayout>
