---
import { SideBar } from "./react/SideBar"
import Brand from "./ui/Brand.astro"
import Navbar from "./ui/Navbar.astro"
import UserAvatarMenu from "./ui/UserAvatarMenu.astro"
import {Cart} from "./react/Cart"

---
<header class="flex justify-between items-center px-6 border-b border-[#e9e9e9] border-solid relative h-[92px]">
    <div class="flex items-baseline gap-4 lg:hidden">
        <SideBar client:load/>
        <Brand/>
    </div>
    <div class="hidden lg:flex lg:items-center">
        <Brand/>
        <Navbar /> 
    </div>
    <div class="flex items-center gap-6">
        <Cart client:load/> 
        <UserAvatarMenu/>
    </div>
    
</header>
