---
import HeroContent from './HeroContent.astro'
import {HeroGallery} from './react/HeroGallery'


---
<section class="flex-grow flex flex-col items-center md:mt-6 md:gap-10 lg:flex-row lg:justify-center lg:gap-24">
    <HeroGallery client:load/>
    <HeroContent />
</section>
