---
import '@fontsource-variable/kumbh-sans';
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
		<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
		<title>Frontend Mentor | E-commerce product page</title>
	</head>	
	<body class="min-h-screen flex flex-col items-center">
        <slot/>
    </body>
</html>
<style is:global>
    html{
        @apply font-kumbh;
        font-size: 16px;
    }
    *,*::after,*::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img{
        display: block;
        max-width: 100%;
    }
</style>