---

---
<nav class="ml-14 text-sm text-darkGrayishBlueCustom">		
    <ul class="flex items-center gap-8 h-[90px]">
        <li class="h-full"><a href="#" class="flex items-center cursor-pointer h-full relative hover:text-veryDarkBlueCustom after:content-[''] after:w-full after:h-full after:inset-0 after:absolute hover:after:border-orangeCustom hover:after:border-b-4">Collections</a></li>
        <li class="h-full"><a href="#" class="flex items-center cursor-pointer h-full relative hover:text-veryDarkBlueCustom after:content-[''] after:w-full after:h-full after:inset-0 after:absolute hover:after:border-orangeCustom hover:after:border-b-4">Men</a></li>
        <li class="h-full"><a href="#" class="flex items-center cursor-pointer h-full relative hover:text-veryDarkBlueCustom after:content-[''] after:w-full after:h-full after:inset-0 after:absolute hover:after:border-orangeCustom hover:after:border-b-4">Women</a></li>
        <li class="h-full"><a href="#" class="flex items-center cursor-pointer h-full relative hover:text-veryDarkBlueCustom after:content-[''] after:w-full after:h-full after:inset-0 after:absolute hover:after:border-orangeCustom hover:after:border-b-4">About</a></li>
        <li class="h-full"><a href="#" class="flex items-center cursor-pointer h-full relative hover:text-veryDarkBlueCustom after:content-[''] after:w-full after:h-full after:inset-0 after:absolute hover:after:border-orangeCustom hover:after:border-b-4">Contact</a></li>
    </ul>
</nav>
